doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        title Remote bespoke home
        body
            h1 Remote bespoke
            ul
                li
                    a(href="http://www.skill-informatique.com/bespoke/client" target="_blank") Diapo
                li
                    a(href="http://www.skill-informatique.com/bespoke/client-app" target="_blank") App


